.textarea{
  width: 900px;
  margin: 0 auto;
  display: block;
}
.keyboard{
  width: 900px;
  margin: 0 auto;
}
.keyboard__row {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.keyboard__key{
  flex: 1 1 auto;
}